{% extends 'base.html.twig' %}

{% set label_title = "Consulta Comunas" %}

{% block title %}{{ label_title }}{% endblock %}

{% block body %}
    <h1>{{ label_title | upper }}</h1>
    <br />
    <table class="table table-bordered table-striped list-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Comuna</th>
                <th scope="col">Provincia</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for comuna in comunas %}
                <tr scope="row">
                    <td>
                        <a href="{{ path('ficha_comuna', {'id': comuna.id}) }}" 
                           title="Ir a Ficha Comuna {{ comuna.nombre }}">
                            {{ comuna.nombre }}
                        </a>
                    </td>
                    <td>{{ comuna.provincia.nombre }}</td>
                    <td>
                        <a href="{{ path('consulta_subsector') }}"  title="Ir a Consulta Sectores">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('consulta_localidad_by_comuna', {'id': comuna.id}) }}" title="Ir a Consulta Localidades de la comuna {{ comuna.nombre }}">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('consulta_proyecto') }}" title="Ir a Consulta Proyectos">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
