{% extends 'base.html.twig' %}

{% set label_title = "Consulta Localidades" %}

{% block title %}{{ label_title }}{% endblock %}

{% block body %}
    <h1>{{ label_title | upper }}</h1>
    <br />
    <table class="table table-bordered table-striped list-table">
        <thead class="thead-dark">
            <tr scope="row">
                <th scope="col">Nombre</th>
                <th scope="col">Altura</th>
                <th scope="col">Comuna</th>
                <th scope="col">Sector</th>
                <th scope="col">Habitantes</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for localidad in localidads %}
                <tr scope="row">
                    <td>
                        <a href="{{ path('ficha_localidad', {'id': localidad.id}) }}" 
                           title="Ir a Ficha Localidad {{ localidad.nombre }}">
                            {{ localidad.nombre }}
                        </a>
                    </td>
                    <td>{{ localidad.altura }}</td>
                    <td>
                        <a href="{{ path('ficha_comuna', {'id': localidad.comuna.id}) }}" 
                           title="Ir a Ficha Comuna {{ localidad.comuna.nombre }}">
                            {{ localidad.comuna.nombre }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('ficha_subsector', {'id': localidad.subsector.id}) }}" 
                           title="Ir a Ficha Sector {{ localidad.subsector.nombre }}">
                            {{ localidad.subsector.nombre }}
                        </a>
                    </td>
                    <td>{{ localidad.personas }}</td>
                    <td>
                        <a href="{{ path('consulta_comuna') }}" title="Ir a Consulta Comunas">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('consulta_subsector') }}" title="Ir a Consulta Sectores">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('consulta_proyecto_by_localidad' , {'id': localidad.id}) }}" title="Ir a Consulta Proyectos de la localidad {{ localidad.nombre }}">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
