{% extends 'base.html.twig' %}

{% set label_title = "Consulta Proyectos" %}

{% block title %}{{ label_title }}{% endblock %}

{% block body %}
    <h1>{{ label_title | upper }}</h1>
    <br />
    <table class="table table-bordered table-striped list-table">
        <thead class="thead-dark">
            <tr scope="row">
                <th scope="col">Nombre</th>
                <th scope="col">Localidad</th>
                <th scope="col">Código B.I.P.</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
                <tr scope="row">
                    <td>
                        <a href="{{ path('ficha_proyecto', {'id': proyecto.id}) }}" 
                           title="Ir a Ficha Proyecto{{ proyecto.nombre }}">
                            {{ proyecto.nombre }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('localidad_show', {'id': proyecto.localidad.id}) }}" 
                           title="Ir a Ficha Localidad {{ proyecto.localidad.nombre }}">
                            {{ proyecto.localidad.nombre }}
                        </a>
                    </td>
                    <td>{{ proyecto.codigoBip }}</td>
                    <td>{{ proyecto.descripcion }}</td>
                    <td>{{ proyecto.fecha ? proyecto.fecha|date('d-m-Y') : '' }}</td>
                    <td>
                        <a href="{{ path('consulta_comuna') }}" title="Ir a Consulta Comunas">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('consulta_subsector') }}" title="Ir a Consulta Sectores">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('consulta_localidad') }}" title="Ir a Consulta Localidades">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">No se encontraron registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
