{% extends 'base.html.twig' %}

{% set label_title = "Consulta Sectores" %}

{% block title %}{{ label_title }}{% endblock %}

{% block body %}
    <h1>{{ label_title | upper }}</h1>
    <br />
    <table class="table table-bordered table-striped list-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Localidad</th>
                <th scope="col">Proyecto</th>
                <th scope="col">Resumen</th>
            </tr>
        </thead>
        <tbody>
            {% for subsector in subsectors %}
                <tr scope="row">
                    <td>
                        <a href="{{ path('ficha_subsector', {'id': subsector.id}) }}" 
                           title="Ir a Ficha Sector {{ subsector.nombre }}">
                            {{ subsector.nombre }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('consulta_localidad_by_subsector', {'id': subsector.id}) }}" title="Ir a Consulta Localidades del Sector {{ subsector.nombre }}" >
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('consulta_proyecto_by_subsector', {'id': subsector.id}) }}" title="Ir a Consulta Proyectos del Sector {{ subsector.nombre }}" >
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('summary_by_subsector', {'id': subsector.id}) }}" title="Ir a Resumen">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('summary_by_subsector_priority', {'id': subsector.id}) }}" title="Ir a Resumen por Prioridad">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No se encontraron registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 
{% endblock %}
