{% extends 'base.html.twig' %}

{% set title_label = "Ficha de " ~ comuna.nombre  %}

{% block title %}{{ title_label }}{% endblock %}

{% block body %}
    <h1>{{ title_label | upper }}</h1>
    <br />
    <table class="table">
        <tbody>
            <tr>
                <th class="alert alert-info" role="alert">Ubicación</th>
                <td>En la Provincia de {{ comuna.provincia.nombre }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Coordenadas</th>
                <td>{{ comuna.latitud }} , {{ comuna.longitud }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Altura</th>
                <td>{{ comuna.altura }} msnm</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Descripción</th>
                <td>{{ comuna.descripcion }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Acciones</th>
                <td>
                    <a href="{{ path('consulta_comuna') }}" title="Ir a Consulta Comuna">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    <a href="{{ path('consulta_subsector') }}"  title="Ir a Consulta Sector">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </a>
                    <a href="{{ path('consulta_localidad') }}" title="Ir a Consulta Localidades">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
