{% extends 'base.html.twig' %}

{% set title_label = "Ficha de " ~ localidad.nombre  %}

{% block title %}{{ title_label }}{% endblock %}

{% block body %}
    <h1>{{ title_label | upper }}</h1>
    <br/>
    <table class="table">
        <tbody>
            <tr>
                <th class="alert alert-info" role="alert">Ubicación</th>
                <td>Sector {{ localidad.subsector.nombre }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Coordenadas</th>
                <td>{{ localidad.latitud }} , {{ localidad.longitud }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Altura</th>
                <td>{{ localidad.altura }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Personas</th>
                <td>{{ localidad.personas }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Casas</th>
                <td>{{ localidad.casas }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Pararrayos</th>
                <td>{{ localidad.pararrayos }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Prioridad</th>
                <td>{{ localidad.prioridad }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Alumbrado Público</th>
                <td>{{ localidad.alumbradoPublico }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Motivo</th>
                <td>{{ localidad.motivo }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Descripcion</th>
                <td>{{ localidad.descripcion }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Acciones</th>
                <td>
                    <a href="{{ path('consulta_subsector') }}" title="Ir a Consulta Sectores">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </a>
                    <a href="{{ path('consulta_localidad') }}" title="Ir a Consulta Localidades">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}