{% extends 'base.html.twig' %}

{% set min_label = "Ministerio del Interior y Seguridad Pública" %}
{% set subdere_label = "Subsecretaría de desarrollo regional y administrativo" %}
{% set title_label = "Programa de " ~ proyecto.programa  %}
{% set subtitle_label = "Ficha Identificación de Proyectos" %}

{% block title %}{{ title_label }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12"><p class="h5"><u> {{ min_label | upper }} </u></p></div>
        <div class="col-12"><p class="h5"><u> {{ subdere_label | upper }} </u></p></div>
    </div>
    <br />
    <p class="h4">{{ title_label | upper }}</p>
    <p class="h4">ACCIONES CONCURRENTES</p>
    <br />
    <div class="row ficha-border">
        <div class="col-12"><p class="h4">{{ subtitle_label | upper }}</p></div>
    </div>
    <br />
    <div class="row">
        <div class="col-1 text-left"><p class="h5">1. </p></div>
        <div class="col-6 text-left"><p class="h5">ANTESCEDENTES GENERALES </p></div>
        <div class="col-3 ficha-border"><p class="h5">FECHA: {{ proyecto.fecha ? proyecto.fecha|date('m/d/Y') : '' }}</p></div>
        <div class="col-2"></div>
    </div>
    <br />
    <div class="row ficha-border">
        <div class="col-1"><p class="h5">REGIÓN: </p></div>
        <div class="col-3"><p class="h5">{{ proyecto.localidad.comuna.provincia.region.nombre }}</p></div>
        <div class="col-2"><p class="h5">PROVINCIA: </p></div>
        <div class="col-2"><p class="h5">{{ proyecto.localidad.comuna.provincia.nombre }}</p></div>
        <div class="col-2"><p class="h5">COMUNA: </p></div>
        <div class="col-2"><p class="h5">{{ proyecto.localidad.comuna.nombre  }}</p></div>
    </div>
    <br />
    <div class="row ficha-border">
        <div class="col-12 text-left"><p class="h5">NOMBRE DEL PROYECTO: </p></div>
        <div class="col-12 text-justify"><p class="h4">{{ proyecto.nombre }}</p></div>
    </div>
    <br />
    <div class="row ficha-border">
        <div class="col-4 text-left"><p class="h5">CÓDIGO B.I.P. (Si tiene): </p></div>
        <div class="col-8"><p class="h4">{{ proyecto.codigoBip }}</p></div>
    </div>
    <br />
    <div class="row ficha-border">
        <div class="col-6 text-left"><p class="h5">TIPOLOGÍA DE LA ACCIÓN SOLICITADA: </p></div>
        <div class="col-6 text-left"><p class="h4">{{ proyecto.tipologiaAccion }}</p></div>
        <div class="col-12 text-left"><p class="h6">(Estudio, Diseño, Inspección Técnica, Adquisición de Terreno, Asistencia Legal, Asistencia Técnica, Obra, Saneamiento de Títulos)</p></div>
    </div>
    <br />
    <div class="row">
        <div class="col-7 text-left"><p class="h6">Nº estimativo de potenciales beneficiarios: </p></div>
        <div class="col-2 text-right"><p class="h6">Directos: </p></div>
        <div class="col-3 text-left"><p class="h6">{{ proyecto.beneficiariosDirectos }} Habitantes</p></div>
    </div>
    <div class="row">
        <div class="col-9 text-right"><p class="h6">Indirectos: </p></div>
        <div class="col-3 text-left"><p class="h6">{{ proyecto.beneficiariosIndirectos }} Habitantes</p></div>
    </div>
    <br />
    <div class="row">
        <div class="col-6 text-left"><p class="h6">Nº estimativo de viviendas incorporadas al proyecto: </p></div>
        <div class="col-6 text-left"><p class="h6">{{ proyecto.estimadoViviendas }} Viviendas</p></div>
    </div>
    <br />
    <div class="row">
        <div class="col-1 text-left"><p class="h5">2. </p></div>
        <div class="col-6 text-left"><p class="h5">JUSTIFICACIÓN </p></div>
        <div class="col-5"></div>
    </div>
    <div class="row">
        <div class="col-12"><p class="h6">Caracterización socioeconomica de los potenciales beneficiarios directos, su situación sanitaria y capacidad municipal.</p></div>
    </div>
    <br />
    <div class="row">
        <div class="col-12 text-justify"><p class="h5">{{ proyecto.justificacion }}</p></div>
    </div>
    <br />
    <div class="row">
        <div class="col-1 text-left"><p class="h5">3. </p></div>
        <div class="col-6 text-left"><p class="h5">DESCRIPCIÓN DE LA ACCIÓN SOLICITADA </p></div>
        <div class="col-5"></div>
    </div>
    <div class="row">
        <div class="col-12"><p class="h6">(Referencias a carencias de saneamiento básico de la localidad, en los casos de estudios o diseños.)</p></div>
        <div class="col-12"><p class="h6">(Referencias a las características del proyecto y funciones a desarrollar, para inspección o asistencia técnica.)</p></div>
    </div>
    <br />
    <div class="row">
        <div class="col-12 text-justify"><p class="h5">{{ proyecto.descripcion }}</p></div>
    </div>
    <br />
    <div class="row ficha-border">
        <div class="col-1 text-left"><p class="h5">4. </p></div>
        <div class="col-6 text-left"><p class="h5">PLAZO DE ELABORACIÓN O EJECUCIÓN: </p></div>
        <div class="col-5 text-left"><p class="h5"> ____ (DIAS)  =  ____ (MESES)</p></div>
    </div>
    <br />
    <div class="row ficha-border">
        <div class="col-1 text-left"><p class="h5">5. </p></div>
        <div class="col-2 text-left"><p class="h5">APORTES </p></div>
        <div class="col-5 text-right"><p class="h5">Aporte Municipal</p></div>
        <div class="col-4 text-left"><p class="h5"> :($) _________ </p></div>
        <div class="col-3"></div>
        <div class="col-5 text-right"><p class="h5">Aporte Terceros</p></div>
        <div class="col-4 text-left"><p class="h5"> :($) _________ </p></div>
        <div class="col-3"></div>
        <div class="col-5 text-right"><p class="h5">Aporte SUBDERE</p></div>
        <div class="col-4 text-left"><p class="h5"> :($) _________ </p></div>
        <div class="col-3"></div>
        <div class="col-5 text-right"><p class="h5"><strong>TOTAL</strong></p></div>
        <div class="col-4 text-left"><p class="h5"> :($) _________ </p></div>
    </div>
    <br />
    <div class="row ficha-border">
        <div class="col-1 text-left"><p class="h5">6. </p></div>
        <div class="col-6 text-left"><p class="h5">PROFESIONAL A CARGO DEL PROYECTO: </p></div>
        <div class="col-5 text-left"><p class="h5"> ___________________________ </p></div>
        <div class="col-1 text-left"></div>
        <div class="col-6 text-left"><p class="h5">CORREO ELECTRÓNICO: </p></div>
        <div class="col-5 text-left"><p class="h5"> ___________________________ </p></div>
        <div class="col-1 text-left"></div>
        <div class="col-6 text-left"><p class="h5">FONO(S): </p></div>
        <div class="col-5 text-left"><p class="h5"> ___________________________ </p></div>
    </div>
    <br />
    <div class="row ficha-border">
        <div class="col-1 text-left"><p class="h5">7. </p></div>
        <div class="col-6 text-left"><p class="h5">OBSERVACIONES: </p></div>
        <div class="col-5 text-left"><p class="h5">  ___________________________ </p></div>
        <div class="col-12 text-justify"><p class="h5">{#{{ proyecto.observacion }}#}</p></div>
    </div>
    <br />
    <div class="row">
        <div class="col-12 text-justify">
            <p class="h5">
                <strong>NOTA:</strong> Se deberá adjuntar a la presente ficha, los términos técnicos de referencia 
                con que se regirá la contratación del(de los) proyecto(s) aludido(s) y presupuesto
                detallado que avale el monto de recursos requerido. 
            </p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <a href="{{ path('consulta_comuna') }}" title="Ir a Consulta Comunas">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
            <a href="{{ path('consulta_subsector') }}" title="Ir a Consulta Sectores">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
            <a href="{{ path('consulta_localidad') }}" title="Ir a Consulta Localidades">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
            <a href="{{ path('consulta_proyecto') }}" title="Ir a Consulta Proyectos">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}
