{% extends 'base.html.twig' %}

{% set title_label = "Ficha de " ~ subsector.nombre  %}

{% block title %}{{ title_label }}{% endblock %}

{% block body %}
    <h1>{{ title_label | upper }}</h1>
    <br />
    <table class="table">
        <tbody>
            <tr>
                <th class="alert alert-info" role="alert">Coordenadas</th>
                <td>{{ subsector.latitud }} , {{ subsector.longitud }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Altura</th>
                <td>{{ subsector.altura }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Descripción</th>
                <td>{{ subsector.descripcion }}</td>
            </tr>
            <tr>
                <th class="alert alert-info" role="alert">Acciones</th>
                <td>
                    <a href="{{ path('consulta_subsector') }}" title="Ir a Consulta Sectores">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    <a href="{{ path('comuna_index') }}" title="Ir a Gestión Comunas">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </a>
                    <a href="{{ path('consulta_localidad') }}" title="Ir a Consulta Localidades">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
