{% extends 'base.html.twig' %}
{% set title_label = "Editar Proyecto" %}
{% block title %}{{ title_label }}{% endblock %}

{% block body %}
    <h1><a href="{{ path('proyecto_index') }}" title="Ir a Gestiona Proyectos">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>{{ title_label | upper }}</h1>
        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
        {{ include('proyecto/_delete_form.html.twig') }}
        {{ include('proyecto/_form.html.twig')  }}
{% endblock %}
