{% extends 'base.html.twig' %}

{% set label_title = "Gestiona Proyectos" %}

{% block title %}{{ label_title }}{% endblock %}

{% block body %}
    <h1>{{ label_title | upper }}</h1>
    <br />
    <a href="{{ path('proyecto_new') }}" title="Añadir Nuevo Proyecto">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <br />
    <table class="table table-bordered table-striped list-table">
        <thead class="thead-dark">
            <tr scope="row">
                <th scope="col">CÓDIGO B.I.P.</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">LOCALIDAD</th>
                <th scope="col">TIPOLOGÍA ACCIÓN</th>
                <th scope="col">JUSTIFICACIÓN</th>
                <th scope="col">DESCRIPCIÓN</th>
                <th scope="col">FECHA APROBACIÓN</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
                <tr scope="row">
                    <td>{{ proyecto.codigoBip }}</td>
                    <td>
                        <a href="{{ path('proyecto_show', {'id': proyecto.id}) }}" 
                           title="Ir a Ficha Proyecto {{ proyecto.nombre }}">
                            {{ proyecto.nombre }}
                        </a>
                        <a href="{{ path('proyecto_edit', {'id': proyecto.id}) }}" 
                           title="Ir a Editar Localidad {{ proyecto.nombre }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('localidad_show', {'id': proyecto.localidad.id}) }}" 
                           title="Ir a Ficha Localidad {{ proyecto.localidad.nombre }}">
                            {{ proyecto.localidad.nombre }}
                        </a>
                        <a href="{{ path('localidad_edit', {'id': proyecto.localidad.id}) }}" 
                           title="Ir a Editar Localidad {{ proyecto.localidad.nombre }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>{{ proyecto.tipologiaAccion }}</td>
                    <td>{{ proyecto.justificacion }}</td>
                    <td>{{ proyecto.descripcion }}</td>
                    <td>{{ proyecto.fechaAprobacion ? proyecto.fechaAprobacion|date('d-m-Y') : '' }}</td>
                    <td>
                        <a href="{{ path('region_index') }}" title="Ir a Gestiona Regiones">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('provincia_index') }}" title="Ir a Gestiona Provincias">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('comuna_index') }}" title="Ir a Gestiona Comunas">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('subsector_index') }}" title="Ir a Gestiona Sectores">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('localidad_index') }}" title="Ir a Gestiona Localidades">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">No se encontraron registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
