{% extends 'base.html.twig' %}

{% set label_title = "GESTIÓN PROYECTOS" %}

{% block title %}{{ label_title }}{% endblock %}

{% block body %}
    <h1>{{ label_title }}</h1>
    <br />
    <a href="{{ path('proyecto_new') }}" title="Añadir Nuevo Proyecto">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
    </a>
    <br />
    <table class="table table-bordered table-striped list-table">
        <thead class="thead-dark">
            <tr scope="row">
                <th scope="col">Nombre</th>
                <th scope="col">Localidad</th>
                <th scope="col">Código Bip</th>
                <th scope="col">Tipología Acción</th>
                <th scope="col">Justificación</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
                <tr scope="row">
                    <td>
                        <a href="{{ path('localidad_show', {'id': proyecto.id}) }}" 
                           title="Ver Ficha Localidad {{ proyecto.nombre }}">
                            {{ proyecto.nombre }}
                        </a>
                        <a href="{{ path('localidad_edit', {'id': proyecto.id}) }}" 
                           title="Editar Localidad {{ proyecto.nombre }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        {#<a href="{{ path('localidad_show', {'id': proyecto.localidad.id}) }}" 
                           title="Ver Ficha Localidad {{ proyecto.localidad.nombre }}">
                            {{ proyecto.localidad.nombre }}
                        </a>
                        <a href="{{ path('localidad_edit', {'id': proyecto.localidad.id}) }}" 
                           title="Editar Localidad {{ proyecto.localidad.nombre }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>#}
                    </td>
                    <td>{{ proyecto.codigoBip }}</td>
                    <td>{{ proyecto.tipologiaAccion }}</td>
                    <td>{{ proyecto.justificacion }}</td>
                    <td>{{ proyecto.descripcion }}</td>
                    <td>{{ proyecto.fecha ? proyecto.fecha|date('d-m-Y') : '' }}</td>
                    <td>
                        <a href="{{ path('region_index') }}" title="Ir a Gestión Regiones">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('provincia_index') }}" title="Ir a Gestión Provincias">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('comuna_index') }}" title="Ir a Gestión Comunas">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('localidad_index') }}" title="Ir a Gestión Localidades">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
