{% extends 'base.html.twig' %}

{% block title %}Comuna index{% endblock %}

{% block body %}
    <h1>Comuna index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comuna in comunas %}
            <tr>
                <td>{{ comuna.id }}</td>
                <td>{{ comuna.codigo }}</td>
                <td>{{ comuna.nombre }}</td>
                <td>
                    <a href="{{ path('comuna_show', {'id': comuna.id}) }}">show</a>
                    <a href="{{ path('comuna_edit', {'id': comuna.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comuna_new') }}">Create new</a>
{% endblock %}
