{% extends 'base.html.twig' %}

{% block title %}{{ comuna.nombre | upper}}{% endblock %}

{% block body %}
    <h1>{{ comuna.nombre | upper}}</h1>

    <table class="table">
        <tbody>
            <tr>
                            <tr>
                <th>Ubicación</th>
                <td>En la Provincia de: {{ comuna.provincia.nombre }}</td>
            </tr>
            <tr>
                <th>Coordenadas</th>
                <td>{{ comuna.latitud }} , {{ comuna.longitud }}</td>
            </tr>
            <tr>
                <th>Altura</th>
                <td>{{ comuna.altura }} msnm</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ comuna.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comuna_index') }}">back to list</a>

    <a href="{{ path('comuna_edit', {'id': comuna.id}) }}">edit</a>

    {{ include('comuna/_delete_form.html.twig') }}
{% endblock %}
