{% extends 'base.html.twig' %}

{% block title %}Resumen Sector: {{ subsector.nombre }} {% endblock %}

{% block body %}
    <center><h1>Resumen</h1></center>
    <br/>
    <center><h2>Sector: {{ subsector.nombre |upper }}</h2></center>
    <br/>

    <div class="container">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>LOCALIDAD</th>
                    <th>PRIORIDAD</th>
                    <th>PERSONAS</th>
                    <th>MOTIVO</th>
                </tr>
            </thead>
            <tbody>
                {% for localidad in localidads %}
                    <tr>
                        <td><a href="{{ path('localidad_show', {'id': localidad.id}) }}">{{ localidad.nombre }}</a></td>
                        <td>{{ localidad.prioridad }}</td>
                        <td>{{ localidad.personas }}</td>
                        <td>{{ localidad.motivo }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
