{% extends 'base.html.twig' %}
{% set title_label = "Editar Sector" %}
{% block title %}{{ title_label }}{% endblock %}

{% block body %}
    <h1><a href="{{ path('subsector_index') }}" title="Ir a Gestiona Sectores">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>{{  title_label | upper }}</h1>
        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
        {{ include('subsector/_delete_form.html.twig') }}
        {{ include('subsector/_form.html.twig')  }}
{% endblock %}
