{% extends 'base.html.twig' %}

{% block title %}{{ subsector.nombre }}{% endblock %}

{% block body %}
    <center><h1>{{ subsector.nombre | upper}}</h1></center>
    <br />
    <div class="container">
        <table class="table">
        <tbody>
            <tr>
                <th>Altura</th>
                <td>{{ subsector.altura }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ subsector.descripcion }}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <a href="{{ path('subsector_index') }}">Volver al listado</a>
    <a href="{{ path('subsector_edit', {'id': subsector.id}) }}">Editar</a>

    {{ include('subsector/_delete_form.html.twig') }}
{% endblock %}
