{% extends 'base.html.twig' %}

{% block title %}Subsector{% endblock %}

{% block body %}
    <h1>Subsector</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subsector.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ subsector.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ subsector.nombre }}</td>
            </tr>
            <tr>
                <th>Altura</th>
                <td>{{ subsector.altura }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ subsector.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('subsector_index') }}">back to list</a>

    <a href="{{ path('subsector_edit', {'id': subsector.id}) }}">edit</a>

    {{ include('subsector/_delete_form.html.twig') }}
{% endblock %}
