{% extends 'base.html.twig' %}

{% set label_title = "Gestión Provincias" %}

{% block title %}{{ label_title }}{% endblock %}

{% block body %}
    <h1>{{ label_title | upper }}</h1>
    <br />
    <a href="{{ path('provincia_new') }}" title="Añadir Nueva Provincia">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <br />
    <table class="table table-bordered table-striped list-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Provincia</th>
                <th scope="col">Región</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for provincium in provincias %}
                <tr scope="row">
                    <td>
                        <a href="{{ path('provincia_show', {'id': provincium.id}) }}" 
                           title="Ver Ficha Provincia {{ provincium.nombre }}">
                            {{ provincium.nombre }}
                        </a>
                        <a href="{{ path('provincia_edit', {'id': provincium.id}) }}" 
                              title="Editar Provincia {{ provincium.nombre }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('region_show', {'id': provincium.region.id}) }}" 
                           title="Ver Ficha Región {{ provincium.region.nombre }}">
                            {{ provincium.region.nombre }}
                        </a>
                        <a href="{{ path('region_edit', {'id': provincium.region.id}) }}" 
                              title="Editar Región {{ provincium.region.nombre }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('region_index') }}" title="Ir a Gestión Regiones">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('comuna_index') }}" title="Ir a Gestión Comunas">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('subsector_index') }}" title="Ir a Gestión Sectores">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('localidad_index') }}" title="Ir a Gestión Localidades">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}