{% extends 'base.html.twig' %}

{% block title %}{{ provincium.nombre | upper }}{% endblock %}

{% block body %}
    <h1>{{ provincium.nombre | upper }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Ubicación</th>
                <td>{{ provincium.region.nombre }}</td>
            </tr>
            <tr>
                <th>Coordenadas</th>
                <td>{{ provincium.latitud }} , {{ provincium.longitud }}</td>
            </tr>
            <tr>
                <th>Altura</th>
                <td>{{ provincium.altura }} msnm</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ provincium.descripcion }}</td>
            </tr>
        </tbody>
    </table>
            
    <a href="{{ path('provincia_index') }}">Volver al listado de Provincias</a>

    <a href="{{ path('provincia_edit', {'id': provincium.id}) }}">Editar Provincia de {{ provincium.nombre }}</a>
    
    <a href="{{ path('provincia_index') }}">Ver las Comunas de {{ provincium.nombre }}</a>

    <a href="{{ path('provincia_edit', {'id': provincium.id}) }}">Ver mapa de las comunas de {{ provincium.nombre }}</a>

    {{ include('provincia/_delete_form.html.twig') }}
{% endblock %}
