<!DOCTYPE html>
<html>
    <head lang="es">
        <meta charset="utf-8">
        <title>{% block title %}Bienvenido al Observatorio Comunal (Beta){% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.png') }}" />
    </head>
    <body>
        {% block header %}
            <header class=" border-bottom">
                <div class="collapse bg-warning" id="navbarHeader">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-md-7 py-4">
                                <h4 class="text-white">Observatorio Comunal (&beta;eta)</h4>
                                <p class="justify-content-center text-muted">
                                    Esta Web de Demostración (demo) nace como una necesidad, de tener disponible información actualizada 
                                    para los funcionarios de la Ilustre Municipalidad de Putre, sobre los distintos proyectos que 
                                    se ejecutan, los datos censales y de los pobladores de sus lejanas localidades rurales. Consta de un 
                                    <a href="https://es.wikipedia.org/wiki/Back_office" target="_blank">back office</a>, donde se gestiona la información 
                                    y de un portal Web donse se cierta información no sensible.
                                </p>
                            </div>
                            <div class="col-sm-4 offset-md-1 py-4">
                                <h4 class="text-white">Accesos Directos</h4>
                                <ul class="list-unstyled">
                                    <li><a href="/consulta" class="text-white">Consulta Información</a></li>
                                    <li><a href="/manager" class="text-white">Gestiona Información</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar navbar-dark bg-warning shadow-sm">
                    <div class="container d-flex justify-content-between">
                        <a href="/" class="navbar-brand d-flex align-items-center">
                            <strong>Observatorio Comunal </strong>
                            <img src="{{ asset('build/images/logo-imputre-yellow.png') }}" height="45" class="mr-2" />

                        </a>
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search" placeholder="¿Que desea buscar?" aria-label="Buscar">
                            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
                        </form>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
            </header>
        {% endblock %}
            <div class="container">
                <section class="jumbotron text-center">
                    {% block body %}{% endblock %}
                </section>
            </div>
        
        {% block footer %}
            <footer class="text-center new-footer border-top">
                <div class="row pt-4 my-md-5 pt-md-5 ">
                    <div class="col-12 col-mb">
                        <p><strong>&copy; {{ 'now'|date('Y') }} Todos los Derechos Reservados.</strong> <img class="mr-2" src="{{ asset('build/images/logo-imputre-yellow.png') }}" alt height="70"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-mb"></div>
                </div>
                <div class="row">
                    <div class="col-12 col-mb"></div>
                </div>
                <div class="row">
                    <div class="col-12 col-mb"></div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
