{% extends 'base.html.twig' %}

{% set title_label = "Gestiona Regiones" %}

{% block title %}{{ title_label }}{% endblock %}

{% block body %}
    <h1>{{ title_label | upper }}</h1>
    <br />
    <a href="{{ path('region_new') }}" title="Añadir Nueva Región">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <br />
    <table class="table table-bordered table-striped list-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Región</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for region in regions %}
                <tr scope="row">
                    <td>
                        <a href="{{ path('region_show', {'id': region.id}) }}"  title="Ir a Ficha Región {{ region.nombre }}">
                            {{ region.nombre }}
                        </a>
                        <a href="{{ path('region_edit', {'id': region.id}) }}" 
                              title="ir a Editar Región {{ region.nombre }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('region_show_provincia', {'id': region.id}) }}" title="Ir a Gestiona Provincias de la Región de {{ region.nombre }}">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('region_show_comuna', {'id': region.id}) }}" title="Ir a Gestiona Comunas de la Región de {{ region.nombre }}">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('region_show_localidad', {'id': region.id}) }}" title="Ir a Gestiona Localidades de la Región de {{ region.nombre }}">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('subsector_index') }}" title="Ir a Gestiona Sectores">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No se encontraron registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}