{% extends 'base.html.twig' %}

{% block title %}Editar localidad: {{ localidad.nombre }}{% endblock %}

{% block body %}
    <center><h1>{{ localidad.nombre |upper}}</h1></center>
    <div class="container">
        {{ include('localidad/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <a href="{{ path('localidad_index') }}">Volver al listado</a>

    {{ include('localidad/_delete_form.html.twig') }}
{% endblock %}
