{% extends 'base.html.twig' %}

{% set label_title = "GESTIÓN LOCALIDADES" %}

{% block title %}{{ label_title }}{% endblock %}

{% block body %}
    <h1>{{ label_title }}</h1>
    <br />
    <a href="{{ path('localidad_new') }}" title="Añadir Nueva Provincia">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
    </a>
    <br />
    <table class="table table-bordered table-striped list-table">
        <thead class="thead-dark">
            <tr scope="row">
                <th scope="col">Nombre</th>
                <th scope="col">Altura</th>
                <th scope="col">Comuna</th>
                <th scope="col">Sector</th>
                <th scope="col">Habitantes</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for localidad in localidads %}
                <tr scope="row">
                    <td>
                        <a href="{{ path('localidad_show', {'id': localidad.id}) }}" 
                           title="Ver Ficha Localidad {{ localidad.nombre }}">
                            {{ localidad.nombre }}
                        </a>
                        <a href="{{ path('localidad_edit', {'id': localidad.id}) }}" 
                           title="Editar Localidad {{ localidad.nombre }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>{{ localidad.altura }}</td>
                    <td>
                        <a href="{{ path('comuna_show', {'id': localidad.comuna.id}) }}" 
                           title="Ver Ficha Comuna {{ localidad.comuna.nombre }}">
                            {{ localidad.comuna.nombre }}
                        </a>
                        <a href="{{ path('comuna_edit', {'id': localidad.comuna.id}) }}" 
                           title="Editar Comuna {{ localidad.comuna.nombre }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('subsector_show', {'id': localidad.subsector.id}) }}" 
                           title="Ver Ficha Sector {{ localidad.subsector.nombre }}">
                            {{ localidad.subsector.nombre }}
                        </a>
                        <a href="{{ path('subsector_edit', {'id': localidad.subsector.id}) }}" 
                           title="Editar Sector {{ localidad.subsector.nombre }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>{{ localidad.personas }}</td>
                    <td>
                        <a href="{{ path('region_index') }}" title="Ir a Gestión Regiones">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('provincia_index') }}" title="Ir a Gestión Provincias">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('comuna_index') }}" title="Ir a Gestión Comunas">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('proyecto_index') }}" title="Ir a Gestión Proyectos">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
