{% extends 'base.html.twig' %}

{% block title %}{{ localidad.nombre|upper }}{% endblock %}

{% block body %}
    <center><h1>{{ localidad.nombre|upper }}</h1></center>
    <br/>
    <table class="table">
        <tbody>
            
            <tr>
                <th>Ubicación</th>
                <td>Sector {{ localidad.subsector.nombre }}</td>
            </tr>
            <tr>
                <th>Coordenadas</th>
                <td></td>
            </tr>
            <tr>
                <th>Altura</th>
                <td>{{ localidad.altura }}</td>
            </tr>
            <tr>
                <th>Personas</th>
                <td>{{ localidad.personas }}</td>
            </tr>
            <tr>
                <th>Casas</th>
                <td>{{ localidad.casas }}</td>
            </tr>
            <tr>
                <th>Pararrayos</th>
                <td>{{ localidad.pararrayos }}</td>
            </tr>
            <tr>
                <th>Prioridad</th>
                <td>{{ localidad.prioridad }}</td>
            </tr>
            <tr>
                <th>AlumbradoPublico</th>
                <td>{{ localidad.alumbradoPublico }}</td>
            </tr>
            <tr>
                <th>Motivo</th>
                <td>{{ localidad.motivo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ localidad.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('localidad_index') }}" role="button">Volver al Listado</a>

    <a class="btn btn-primary" href="{{ path('localidad_edit', {'id': localidad.id}) }}" role="button">Editar</a>

    {{ include('localidad/_delete_form.html.twig') }}
{% endblock %}
