{% extends 'base.html.twig' %}
{% set label_title = "Consulta Información" %}
{% block title %}{{ label_title }}{% endblock %}
{% block body %}
    <h1>{{ label_title | upper }}</h1>
    <br />
    <div class="card-deck">
        <div class="col d-flex justify-content-center col-sm-3">
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header border-warning">Accede a:</div>
                <div class="card-body">
                    <a href="{{ path('consulta_comuna') }}" class="btn btn-warning">Comunas</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center col-sm-3">
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header border-warning">Accede a:</div>
                <div class="card-body">
                    <a href="{{ path('consulta_subsector') }}" class="btn btn-warning">Sectores</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center col-sm-3">
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header border-warning">Accede a:</div>
                <div class="card-body">
                    <a href="{{ path('consulta_localidad') }}" class="btn btn-warning">Localidades</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center col-sm-3">
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header border-warning">Accede a:</div>
                <div class="card-body">
                    <a href="{{ path('consulta_proyecto') }}" class="btn btn-warning">Proyectos</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}