{% extends 'base.html.twig' %}
{% block body %}     
    <section class="jumbotron text-center">
        <div class="container">
        <div class="card-columns ">
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header">Acceder a:</div>
                <img src="{{ asset('build/images/region.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
{#                    <h5 class="card-title">Regiones</h5>#}
{#                    <p class="card-text">Acceder a la gestión de las todas las Regiones del país.</p>#}
                    <a href="/region" class="btn btn-warning">Gestionar Regiones</a>
                </div>
            </div>
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header">Acceder a:</div>
                <img src="{{ asset('build/images/coordillera.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
{#                    <h5 class="card-title">Sectores</h5>#}
{#                    <p class="card-text">Acceder a la gestión de las todos los Sectores del país.</p>#}
                    <a href="/sector" class="btn btn-warning">Gestionar Sectores</a>
                </div>
            </div>
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header">Acceder a:</div>
                <img src="{{ asset('build/images/provincia.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
{#                    <h5 class="card-title">Provincias</h5>#}
{#                    <p class="card-text">Acceder a la gestión de las todas las Provincias del país.</p>#}
                    <a href="/provincia" class="btn btn-warning">Gestionar Provincias</a>
                </div>
            </div>
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header">Acceder a:</div>
                <img src="{{ asset('build/images/guallatire.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
{#                    <h5 class="card-title">Subsectores</h5>#}
{#                    <p class="card-text">Acceder a la gestión de las todos los Subsectores del país.</p>#}
                    <a href="/subsector" class="btn btn-warning">Gestionar Subsectores</a>
                </div>
            </div>
            
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header">Acceder a:</div>
                <img src="{{ asset('build/images/comuna.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
{#                    <h5 class="card-title">Comunas</h5>#}
{#                    <p class="card-text">Acceder a la gestión de las todas las Comunas del país.</p>#}
                    <a href="/comuna" class="btn btn-warning">Gestionar Comunas</a>
                </div>
            </div>                      
            
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header">Acceder a:</div>
                <img src="{{ asset('build/images/chungara.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
{#                    <h5 class="card-title">Localidades</h5>#}
{#                    <p class="card-text">Acceder a la gestión de las todas las Localidades del país.</p>#}
                    <a href="/localidad" class="btn btn-warning">Gestionar Localidades</a>
                </div>
            </div>                      
            {#<div class="card" style="width: 18rem;">
                <img src="{{ asset('build/images/vivienda.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
                    <h5 class="card-title">Viviendas</h5>
                    <p class="card-text">Acceder a la gestión de las todas las Viviendas de las Localidad.</p>
                    <a href="/casa" class="btn btn-warning">Gestionar Viviendas</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('build/images/propietario.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
                    <h5 class="card-title">Propietarios</h5>
                    <p class="card-text">Acceder a la gestión de las todos los Subsectores del país.</p>
                    <a href="/propietario" class="btn btn-warning">Gestionar Propietarios</a>
                </div>
            </div>#}                      
        </div>
    </section>
    
{% endblock %}






