{% extends 'base.html.twig' %}
{% block body %}     
    <div class="container">
        <div class="card-columns ">

            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header border-warning">Acceder a:</div>
                <img src="{{ asset('build/images/region.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
                    <a href="/region" class="btn btn-warning">Gestión Regiones</a>
                </div>
            </div>
            
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header border-warning">Acceder a:</div>
                <img src="{{ asset('build/images/guallatire.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
                    <a href="/subsector" class="btn btn-warning">Gestión Sectores</a>
                </div>
            </div>
            
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header border-warning">Acceder a:</div>
                <img src="{{ asset('build/images/provincia.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
                    <a href="/provincia" class="btn btn-warning">Gestión Provincias</a>
                </div>
            </div>
                
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header border-warning">Acceder a:</div>
                <img src="{{ asset('build/images/chungara.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
                    <a href="/localidad" class="btn btn-warning">Gestión Localidades</a>
                </div>
            </div>

            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header border-warning">Acceder a:</div>
                <img src="{{ asset('build/images/comuna.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
                    <a href="/comuna" class="btn btn-warning">Gestión Comunas</a>
                </div>
            </div>

            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header border-warning">Acceder a:</div>
                <img src="{{ asset('build/images/coordillera.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
                    <a href="/proyecto" class="btn btn-warning">Gestión Proyectos</a>
                </div>
            </div>                      
            
            {#<div class="card" style="width: 18rem;">
                <img src="{{ asset('build/images/vivienda.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
                    <h5 class="card-title">Viviendas</h5>
                    <p class="card-text">Acceder a la gestión de las todas las Viviendas de las Localidad.</p>
                    <a href="/casa" class="btn btn-warning">Gestión Viviendas</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('build/images/propietario.png') }}" class="card-img-top" alt="Arica y Parinacota">
                <div class="card-body">
                    <h5 class="card-title">Propietarios</h5>
                    <p class="card-text">Acceder a la gestión de las todos los Subsectores del país.</p>
                    <a href="/propietario" class="btn btn-warning">Gestión Propietarios</a>
                </div>
            </div>#}                      
        </div>    
    {% endblock %}






